:root {
    --primary: #eeeeee;
    --primary-hover: #9dff97;
    --bg: #bf0000;
    --text: #000000;
    --white: #000000;
    --radius: 8px;
    --spacing: 16px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color:var(--bg);
    color:var(--text);
}

.header {
    background-color:rgb(0, 0, 0);
    color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 0 var(--spacing);
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.task-form input {
    flex: 1;
    padding: 10px;
    border-radius: var(--radius);
    border: 1px solid #d1d5db;
    font-size: 1rem;
}

.task-form input:focus {
    outline: none;
    border-color: var(--primary);
}

button {
    background: var(--primary);
    color: var(--white);
    border: none;
    padding: 10px 14px;
    border-radius: var(--radius);
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: var(--primary-hover);
}

.task-item {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    margin-top: 20px;
    width: 570px;
}

.task-item span {
    font-size: 0.95rem;
}

.completed span {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.delete-btn {
    background:rgb(255, 0, 0)
}

.delete-btn:hover {
    background: #8f0000;
}

.task-stats {
    display: flex;
    justify-content: space-between;
    background:rgb(255, 255, 255);
    padding: 12px;
    border-radius: var(--radius);
    margin-bottom: 20px;
    
}

.task-sort{
   display: flex;
   gap: 10px;
   margin-bottom: 5px;
}

#completeAll {
    background: var(--primary-hover);
    color: var(--text);
}

.task-date {
    font-size: 0.75rem;
    color: #555;
    margin-left: 8px;
    align-self: center;
}

